@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#ffff00;
    --black:#130f40;
    --light-color:#666;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:5%;
    padding-bottom:2%;
    font-size:40px;
    color:var(--black);
}

.btn{
    margin-top:2%;
    display: inline-block;
    padding:1% 2%;
    font-size:15px;
    border-radius:50%;
    border:2px solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}
.btn:hover{
    background: var(--yellow);
    color:#130f40;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1% 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 20px;
    font-weight: bolder;
    color:var(--black);
}

.header .navbar a{
    font-size: 20px;
    margin:0 20px;
    color:var(--black);
}

.header .icons div{
    height: 3%;
    width:50px;
    line-height:50px;
    border-radius:10px;
    background: #eee;
    color:var(--black);
    font-size: 20px;
    margin-left:20%;
    cursor: pointer;
    text-align: center;
}




.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:2%;
    border-radius:2px;
    box-shadow: var(--box-shadow);
    width:20px;
    background: #fff;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom:20px;
}

.home .content{
    text-align: center;
    width:50%;
}

.home .content h3{
    color:var(--black);
    font-size:30px;
}


.home .content p{
    color:var(--light-color);
    font-size:20px;
    padding:1% 2%;
    line-height: 1.8;
}


.features .box-container .box{
    padding:3% 2%;
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box h3{
    font-size:20px;
    line-height: 1.8;
    color:var(--black);
}

.features .box-container .box p{
    font-size:20px;
    line-height: 1.8;
    color:var(--light-color);
    padding:20px 0;
}


.products .product-slider .box{
    background: #fff;
    border-radius: 20px;
    text-align: center;
    padding:20px 2px;
    outline-offset: -1px;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box img{
    height:40%;
}

.products .product-slider .box h3{
    font-size: 2.5rem;
    color:var(--black);
}

.products .product-slider .box .price{
    font-size: 2rem;
    color:var(--light-color);
    padding:.5rem 0;
}

.form .content{
    color:var(--black);
    font-size:15;
}

.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}
















