@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    font-size: 1.5rem;
}

.input-group-text{
    border-right: none;
    background-color: white;
}

.dropdown{
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
    border-left: none;
    max-width: 200px;
    opacity: 0.7;
}

.point{
    float: right;
    margin-top: -30px;
    position: relative;
    margin-right: 15px;
}

.btn-outline-secondary{
    border-color: rgb(206, 212, 218);
}

.btn-outline-secondary:hover{
    background-color: white;
    color: black;
}

.mainCard img{
    height: 100px !important;
    width: 100px !important;
}

.mainCard{
    border: none;
}

.burger{
    background-color: grey;
}

.deliveryBoy{
    background-color: rgb(254, 202, 110);
}

.exCard{
    border-radius: 16px;
    background-size: cover;
    height: 124px;
    border: none;
}

.textOverImg{
    color: white;
    font-size: 1.25rem;
}

.btn{
    background-color: rgb(254, 202, 110);
}

.btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(254 202 110 / 50%);
}

.btnCarousel{
    border: 1px solid rgb(206, 212, 218);
    background: none;
}

.btnCarousel:hover{
    border: 1px solid rgb(254, 202, 110);
    background-color: rgb(254, 202, 110);
    color: white;
}

.btnCarousel:focus{
    box-shadow: 0 0 0 0.25rem rgb(254 202 110 / 50%);
}

.dot{
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    background-color: rgb(236, 233, 233);
}

.socials{
    display: inline-block;
    border-radius: 50%;
    color: black;
    border: 0.5px solid black;
    padding: 0.5em 0.5em;
}

.socials:hover{
    border: 0.5px solid rgb(254, 202, 110);
    background-color: rgb(254, 202, 110);
    color: white;
}

.carousel-item img{
    width: 150px;
    border-radius: 32px;
}

.btnActive{
    border: 1px solid rgb(254, 202, 110);
    background-color: rgb(254, 202, 110);
    color: white;
}

@media screen and (min-width: 768px){
    .navigation{
        margin: 0 75px;
    }

    .dropdown{
        width: 400px;
    }
    .exCard{
        height: 248px;
    }
}